@import '/src/styles.scss';

* {
  color: #000;
}

.forecast {

  &__wrapper {
    border-radius: $border-radius;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 600px;
  }

  &__table {
    @include box-shadow;
    border-radius: $border-radius;
    border-spacing: 15px;
    margin-bottom: 20px;
    font-size: 14px;

    & thead {
      border-bottom: 1px solid $dark-white;
    }

    & th, td {
      padding: 15px;
      text-align: center;
      white-space: nowrap;

    }

    & th {
      padding-right: 20px;
      padding-left: 20px;

    }



    & td {
      vertical-align: middle;
    }

    &__header {
      color: $light-gray;
      font-size: 13px;
    }

    &__date {
      color: $red;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &__img {
      padding: 0 !important;
    }

    &__content {
      display: flex;
      align-items: center;
  
      &__temperature {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
      }

        .condition__desc {
          color: $light-gray;
        }
  
        .condition__img {
          max-width: 60px;
        }
      
    }
  }


}

.location {
  font-size: 20px;
  text-transform: uppercase;
}

.current-time {
  color: $light-gray;
}
