@import '/src/styles.scss';

* {
  color: #fff;
}



.weather {
  
  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px;
    font-size: 18px;
  }

  &__header {

    &__location {
      margin-bottom: 10px;
      font-size: 20px;
  text-transform: uppercase;
    }
  }

  &__content {

    &__temperature {
      font-size: 70px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &__condition {
      display: flex;
      align-items: center;
    }

    .condition__wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__map {
    margin-top: 30px;
  }

}

.current-time {
  color: $dark-white;
}

.term {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &__icon {
    height: 30px;
    filter: $white-filter;
    margin-right: 5px;
  }

}

@media(max-width: 500px) {
  .weather {
  
    &__wrapper{
      padding: 15px;
      padding-top: 30px;
      align-items: center;
    }
  }
  
  .term {
    font-size: 12px;
    justify-content: space-between;
    &__icon {
      height: 24px;
    }
  }
}

