@import '/src/styles.scss';

* {
  color: #fff;
}

.weather {
  
  &__wrapper {
    border-radius: $border-radius;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
    padding: 30px;
    font-size: 18px;
    &:not(.weather__content) {
      display: flex;
    flex-direction: column;

    }
  }

  &__header {

    &__location {
      margin-bottom: 10px;
      font-size: 20px;
  text-transform: uppercase;
    }

  }

  &__content {
    

    &__temperature {
      font-size: 70px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &__condition {
      display: flex;
      align-items: center;
    }

    .condition__wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__map {
    margin-top: 30px;
  }


}


.current-time {
  color: $dark-white;
}
.term {
  display: flex;

  &__wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  &__icon {
    height: 30px;
    filter: $white-filter;
    margin-right: 5px;
  }

}