@import "src/styles.scss";

header {
  height: 50px;
  background-color: #fff;
  @include box-shadow;

  .nav {
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 800px) {
        justify-content: center;
      }
    }

    &__item {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;

      &__gps {
        height: 35px;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }

      &__hover {
        & a {
          text-decoration: none;
          color: #000;
          height: 50px;
          padding: 0 10px;

          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          cursor: pointer;

          & a {
            color: $red;
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep .p-dropdown-label,
  .p-inputtext,
  .p-placeholder {
    width: 125px;
    padding: 6px;
  }
}

.pi {
  color: $red;
  font-size: 20px;
  transition: all 0.2s;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
    scale: 1.1;
  }
}

.pi-bars {
  color: #000;
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}

.logo {
  max-height: 25px;
  margin-right: 10px;
}

@media (max-width: 800px) {
  .adaptive {
    display: none !important;
  }
}
