@import 'src/styles.scss';

header {
  height: 50px;
  background-color: #fff;
  margin-bottom: 15px;
  @include box-shadow;

  .nav {
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;

      &__gps {
        height: 30px;
        transition: all .2s;
        margin-right: 5px;
        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }

      &__hover {

        & a {
          text-decoration: none;
          color: #000;
          height: 50px;
      padding: 0 10px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        &:hover {
          background-color: $dark-white;
          cursor: pointer;
  
          & a {
            color: $red;
          }
  
        }
      }
    }

  }


}

p-dropdown {
  & div span {
    height: 20px;
  }
}

:host {
  ::ng-deep .p-dropdown-label, .p-inputtext, .p-placeholder, .ng-star-inserted {

    padding: 6px;

  }
}